.profile{
   background-color: burlywood;
   
}
.container {
    grid-area: c;
    margin: 0 auto;
    padding-right: 30%;
    position: relative;
    text-align: center;
    size: 20px;
}
.container img {
 
    border-radius: 60px; 
    width:  120px;
}